
@media(min-width:1025px) {
    .home {
    background-color: #1e2022;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 650px;
    position: static;
    padding: 0;
    }

    .name {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 25px;
    color: #f0f5f9;
    position: absolute;
    }

    .nav {
        position: fixed;
        font-size: 20px;
        top: 25px;
        right: 0px;
    }

    li a {
    color: #f0f5f9;
    font-family: 'PT Sans', sans-serif;
    }

    li a:hover {
    color: steelblue;
    }

    .homecontents {
        position: relative;
        top: 200px;
        text-align: center;
        font-family:  'PT Sans', sans-serif;
    }

    .homecontents h3 {
        font-size: 65px;
        font-weight: 900;
        color: #f0f5f9;
    }

    .btn-toolbar div {
        left: 27%;
    }

    .btn-home {
        background-color: #32e0c4;
        border-radius: 3px;
        height: 50px;
        width: 100px;
        color: #1e2022;
        font-family: 'PT Sans', sans-serif;
        font-weight: 900;
        font-size: 18px;
        margin: 8px;
        margin-top: 15px;
        border-color: #32e0c4;
    }

    .btn-home a {
        color: #1e2022;
    }

    .btn-home a:hover {
        color: #1e2022;
        text-decoration: none;
    }

    .btn-home:hover,
    .btn-home:focus,
    .btn-home:active {
        background-color: #eeeeee;
        border-color:#eeeeee;
    }



    .selfp {
    display: block;
    border-radius: 100%;
    position: relative;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    }

    .namediv{
    background-color: #1e2022;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 110px;
    height: 13%;
    width: 25%;
    }

    .pname1{
    color:#f0f5f9;
    font-family: 'Titillium Web';
    margin-left: 26%;
    font-size: 25px;
    font-weight: 800;
    }

    .course{
    color:#f0f5f9;
    position: relative;
    font-family: 'Titillium Web';
    margin-left: 7%;
    font-size: 100%;
    top: -20px;
    }

    .portfolio {
    position: relative;
    top: 0px;
    background-color: #f0f5f9;
    padding-bottom: 50px;
    }

    .portfoliocontents {
    background-color: #f0f5f9;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    height: 50%;
    width: 75%;
    padding: 25px;
    font-family: 'Titillium Web';
    }

    .ptitle {
    color: #1e2022;
    font-size: 30px;
    font-family: 'Titillium Web';
    font-weight: 500;
    text-decoration: underline;
    }

    .row {
    padding: 5px;
    }

    .portfolio h5 {
    font-weight: 1000;
    }

    .services {
    position: relative;
    top: 0px;
    background-color: #c9d6df;
    font-family: 'Titillium Web';
    }

    .servicescontents {
    background-color: #c9d6df;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    height: 50%;
    width: 75%;
    padding: 25px;
    font-family: 'Titillium Web';
    }

    .servtitle {
    color: #1e2022;
    font-size: 30px;
    font-family: 'Titillium Web';
    font-weight: 500;
    text-decoration: underline;
    }

    .servimage {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #52616b;
    }

    .servicescontents h5 {
    font-weight: 700;
    }

    .aboutme {
    position: relative;
    top: 0px;
    background-color: #f0f5f9;
    font-family: 'Titillium Web';
    padding-bottom: 50px;
    }

    .aboutmecontent {
    background-color: #f0f5f9;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    height: 50%;
    width: 75%;
    padding: 25px;
    color: #1e2022;
    font-family: 'Titillium Web';
    text-align: center;
    }

    .aboutmecontent h5 {
    font-size: 30px;
    padding-bottom: 25px;
    padding-top: 30px;
    font-weight: 700;
    }


    .contacts {
    position: relative;
    top: 0px;
    background-color: #c9d6df;
    font-family: 'Titillium Web';
    height: 400px;
    }

    .contactscontent {
    background-color: #c9d6df;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    height: 50%;
    width: 75%;
    padding: 25px;
    color: #1e2022;
    font-family: 'Titillium Web';
    }

    .contactscontent h5 {
    font-size: 30px;
    padding-bottom: 25px;
    padding-top: 30px;
    font-weight: 700;
    text-decoration: underline;
    }

    .contactscontent a {
    color: midnightblue;
    font-size: 20px;
    }

    .contactscontent p {
    font-size: 20px;
    }

    .selfc {
    display: block;
    border-radius: 17%;
    position: relative;
    width: 250px;
    top: -250px;
    left: 65%;
    }

    footer {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #1e2022;
    bottom: 0px;
    }

    footer p {
    padding: 10px;
    font-size: 15px;
    color: #f0f5f9;
    font-family: 'Titillium Web';
    text-align: center;
    }


}