<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../favicon.ico" />
    <link rel="stylesheet" href="dl.css">
    <link
        href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Titillium+Web:wght@200;400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap" rel="stylesheet">

    <title>Computer Vision - Portfolio</title>
</head>

<body class="body">
    <div class="home ">
        <p class="name">WENDELL BALAGOT</p>
        <div class="navb">
            <ul class="nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#porttitle">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#servicestitle">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="homecontents">
            <h3>COMPUTER VISION</h3>
        </div>
        <div class="navb2">
            <nav class="navbar navbar-expand-md navbar-dark ">
                <!-- Brand -->
                <p>WENDELL BALAGOT</p>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#porttitle">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#servicestitle">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="contents">
        <div class="card-deck">
            <div class="card">
                <img src="cv_img/img5.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FACEMASK DETECTION</h5>
                    <ul>
                        <li>Transfer Learning with Keras Pretrained Models.</li>
                        <li>Bottleneck Feature Extraction.</li>
                        <li>Keras library for building a basic Convolutional Neural Network.</li>
                        <li>Predictive Modelling.</li>
                        <li>Plotting of Model Performance.</li>
                    </ul>
                    <a target='_blank' href="https://www.kaggle.com/delllectron/face-mask-detection-transfer-learning-xception"
                        class="btn btn-dark">View Notebook
                    </a>

                </div>

            </div>
            <div class="card">
                <img src="cv_img/img6.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FIRE DETECTION</h5>
                    <ul>
                        <li>OpenCV Image Processing.
                            <ul>
                                <li>Masking, Segmentation & Sharpening</li>
                            </ul>
                        </li>
                        <li>Transfer Learning With Keras Pretrained Models.</li>
                        <li>Xception Bottleneck Feature Extraction</li>
                        <li>Deep Learning Model to Classify the Images</li>
                    </ul>
                    <a target='_blank' href="https://www.kaggle.com/delllectron/fire-detection-computer-vision"
                        class="btn btn-dark">View Notebook
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="card-deck">
            <div class="card">
                <img src="cv_img/img3.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FACE DETECTION - HAAR CASCADES</h5>
                    <ul>
                        <li>OpenCV Image Processing</li>
                        <li>Haar Cascade to Identify Faces</li>
                        <li>Parameter tuning.</li>
                        <li>Face Detection on Videos</li>
                    </ul>
                    <a target='_blank'
                        href="https://www.kaggle.com/delllectron/face-detection-haarcascades"
                        class="btn btn-dark">View Notebook
                    </a>

                </div>

            </div>
            <div class="card">
                <img src="cv_img/img4.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">GENDER RECOGNITION</h5>
                    <ul>
                        <li>Feature Selection & Data Sampling</li>
                        <li>Image Processing & Data Augmentation</li>
                        <li>Transfer Learning with Keras Xception Model</li>
                        <li>Bottleneck Feature Extraction</li>
                        <li>Deep Learning Model</li>
                    </ul>
                    <a target='_blank' href="https://www.kaggle.com/delllectron/gender-recognition-computer-vision"
                        class="btn btn-dark">View Notebook
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="card-deck">
            <div class="card">
                <img src="cv_img/img1.jpeg" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DOG BREED CLASSIFIER</h5>
                    <ul>
                        <li>Image Preprocessing.</li>
                        <li>ResNet50 pretrained model to classify a Dog Breed.</li>
                        <li>OpenCV for image processing and showing results.</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Identify%20Dog%20Breed%20deep%20learning%20and%20OpenCV)/deep%20learning_opencv.ipynb"
                        class="btn btn-dark">View Notebook
                    </a>

                </div>

            </div>
            <div class="card">
                <img src="cv_img/img2.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">PLANT SEEDINGS - TRANSFER LEARNING</h5>
                    <ul>
                        <li>Image Preprocessing.</li>
                        <li>Transfer Learning with Pretrained models</li>
                        <li>Xception Bottleneck Feature Extraction</li>
                        <li>Deep Learning Model</li>
                    </ul>
                    <a target='_blank'
                        href="https://www.kaggle.com/delllectron/plant-seedlings-transfer-learning"
                        class="btn btn-dark">View Notebook
                    </a>
                </div>
            </div>
        </div>
        <br>
    </div>


</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
