<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../favicon.ico" />
    <link rel="stylesheet" href="forecasting.css">
    <link
        href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Titillium+Web:wght@200;400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap" rel="stylesheet">

    <title>Forecasting - Portfolio</title>
</head>

<body class="body">
    <div class="home ">
        <p class="name">WENDELL BALAGOT</p>
        <div class="navb">
            <ul class="nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#porttitle">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#servicestitle">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="homecontents">
            <h3>FORECASTING</h3>
        </div>
        <div class="navb2">
            <nav class="navbar navbar-expand-md navbar-dark ">
                <!-- Brand -->
                <p>WENDELL BALAGOT</p>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#porttitle">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#servicestitle">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="contents">
        <div class="card-deck">
            <div class="card">
                <img src="../components/fc_img/img1.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">STORE DEMAND FORECASTING</h5>
                    <ul>
                        <li>Univariate and Bivariate Analysis.</li>
                        <li>Storewise Analysis and Itemwise Analysis.</li>
                        <li>Stores Growth Factor Visualization.</li>
                        <li>Hyperparameter Tuning with Bayesian Optimizer.</li>
                        <li>XGBoost Model to Forecast the Sales.</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Store%20sales%20Forecasting/Store_sales_forecast_nb.ipynb"
                        class="btn btn-dark">View Notebook
                    </a>

                </div>

            </div>
            <div class="card">
                <img src="fc_img/img2.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MONTE CARLO SIMULATION OF AMD STOCKS</h5>
                    <ul>
                        <li>Data Visualization of AMD stock price.</li>
                        <li>Plotting ACF and PACF.</li>
                        <li>Growth Factor of AMD stock price.</li>
                        <li>Seasonal Decomposition of data.</li>
                        <li>Plotting the Monte Carlo simulation of AMD stock price.</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Monte_carlo%20Simulation%20on%20AMD%20Stocks/amd%20stocks%20simulation.ipynb"
                        class="btn btn-dark">View Notebook
                    </a>
                </div>  
            </div>
        </div>
        <br>

        <div class="card-deck">
            <div class="card">
                <img src="fc_img/img3.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">WALMART SALES FORECASTING</h5>
                    <ul>
                        <li>Signal Processing and Signal Denoising.</li>
                        <li>Exploratory Data Analysis.</li>
                        <li>Store Sales Forecasting.
                            <ul>
                                <li>FBProphet</li>
                                <li>ARIMA</li>
                                <li>etc...</li>
                            </ul>
                        </li>
                        <li>Error Rate comparison of models.</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Forecasting%20And%20Signal%20processing%20Walmart%20sales/walmart%20store%20sales.ipynb"
                        class="btn btn-dark">View Notebook
                    </a>

                </div>

            </div>
            <div class="card">
                <img src="fc_img/img4.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">APPLE STOCK PRICE</h5>
                    <ul>
                        <li>Visualize the Distribution of Open Stock Price.</li>
                        <li>Seasonal Decomposition to See the Trend</li>
                        <li>Forecast the Next 30 Days by Using Different Baseline Models.</li>
                        <li>Gradient Boosting With Hyperparameter Tuning.</li>
                        <li>Comparisson Between Classical Statistics Method of Forecasting and Machine Learning Baseline
                            Models.</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Apple%20Stock%20Price%20Forecasting/Apple_stockprice_forecasting.ipynb"
                        class="btn btn-dark">View Notebook
                    </a>
                </div>
            </div>
        </div>
        <br>

        <div class="card-deck">
            <div class="card">
                <img src="fc_img/img5.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FORECASTING BITCOIN PRICE (CLASSICAL STATS METHOD)</h5>
                    <ul>
                        <li>Time Series Data Visualization and Feature Extraction.</li>
                        <li>Autocorrelation Function and Partial Autocorrelation Function Comparison.</li>
                        <li>Seasonal Decompose of Time Series Data.</li>
                        <li>Monte Carlo Simulation of Bitcoin price for the next 30 Days.</li>
                        <li>Forecasting Bitcoin Price by Using Classical Stats Method.</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Bitcoin%20Data%20Forecasting%20(CLASSICAL%20STATATISTICS%20)/bitcoin%20price%20forecasting%20csm.ipynb"
                        class="btn btn-dark">View Notebook
                    </a>

                </div>

            </div>
            <div class="card">
                <img src="fc_img/img6.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FORECASTING BITCOIN PRICE (DEEP LEARNING)</h5>
                    <ul>
                        <li>Feature Engineering.</li>
                        <li>Data Preprocessing With Boxcox and StandardScaler.</li>
                        <li>Keras LSTM Model to Forecast the Bitcoin Price.</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Bitcoin%20Data%20Forecasting%20(Recurrent%20Neural%20Network)/bitcoin_RNN.ipynb"
                        class="btn btn-dark">View Notebook
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>


    </div>

</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
