<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/png" href="../favicon.ico" />
    <link rel="stylesheet" href="ml.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Titillium+Web:wght@200;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap" rel="stylesheet">
    
    <title>Machine Learning - Portfolio</title>
</head>
<body class="body">
    <div class="home ">
        <div class="navb">
            <p class="name">WENDELL BALAGOT</p>
            <ul class="nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#porttitle">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#servicestitle">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="homecontents">
            <h3>MACHINE LEARNING</h3>
        </div>
        <div class="navb2">
            <nav class="navbar navbar-expand-md navbar-dark ">
                <!-- Brand -->
                <p>WENDELL BALAGOT</p>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse nav" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#porttitle">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#servicestitle">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="contents">
        <div class="card-deck">
            <div class="card">
                <img src="../components/ml_img/img1.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">GENDER VOICE RECOGNITION</h5>
                    <ul>
                        <li>Classifying Gender voice by Constructing a Machine learning model.</li>
                        <li>Constructing a function that can generate a Receiver Operating Characteristic (ROC) curve.</li>
                        <li>Comparison of Predictive models.</li>
                    </ul>
                    <a target='_blank' href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Gender%20Voice%20Recognition/Gender_voice_recog.ipynb" class="btn btn-dark">View Notebook</a>

                </div>

            </div>


            <div class="card ">
                <img src="ml_img/img7.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CLASSIFYING REAL AND FAKE BANKNOTES</h5>
                    <ul>
                        <li>Univariate and Bivariate Analysis</li>
                        <li>Data Preprocessing (Normalization)</li>
                        <li>HyperParameter Tuning by using RandomizedSearchCV.</li>
                        <li>Predictive Modelling and Deep Learning Model</li>
                        <li>Comparisson between Keras Sequential Model and XGB Classifier.</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Classifying%20Bank%20Notes%20with%20(TensorFlow%2C%20Keras)/banknotes_keras.ipynb"
                        class="btn btn-dark">View Notebook</a>
                </div>
            </div>
        </div>
        <br>

        <div class="card-deck">
            <div class="card">
                <img src="ml_img/img3.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">COVID-19 DATA VISUALIZATION</h5>
                    <ul>
                        <li>Data Visualization and Data Cleaning.</li>
                        <li>Univariate and Bivariate Analysis</li>
                        <li>COVID-19 Datewise and Countrywise Analysis</li>
                        <li>Feature Engineering & Data Preprocessing</li>
                        <li>Predictive Modelling</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/COVID-19%20%20forecasting%20(LSTM%20%26%20GRADIENT%20BOOSTING)/covid19_lstm_xgb.ipynb"
                        class="btn btn-dark">View Notebook</a>
                </div>
            </div>
            <div class="card">
                <img src="ml_img/img9.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ROAD ACCIDENT ANALYSIS</h5>
                    <ul>
                        <li>Road Accident analysis per Borough</li>
                        <li>Datewise Analysis</li>
                        <li>Bivariate and Univariate Analysis</li>
                        <li>Per Road Accident type analysis</li>
                        <li>Causes of Road Accident in New York City</li>
                    </ul>
                    <a target='_blank' href="https://www.kaggle.com/delllectron/road-accident-comprehensive-analysis"
                        class="btn btn-dark">View Notebook</a>
                </div>
            </div>
        </div>
        <br>

        <div class="card-deck">
            <div class="card">
                <img src="ml_img/img5.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">PREDICTING HOTEL CANCELLED BOOKINGS</h5>
                    <ul>
                        <li>Data Visualization
                            <ul>
                                <li>Busiest Month</li>
                                <li>Market Segments Booking Percentage</li>
                                <li>etc..</li>
                            </ul>
                        </li>
                        <li>Data Cleaning & Weighing Important Features</li>
                        <li>Data Pipelining</li>
                        <li>XGBClassifier to Predict cancelled Bookings</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Hotel%20Bookings%20Classification%20Problem/hotel%20bookings%20xgbc.ipynb"
                        class="btn btn-dark">View Notebook</a>
                </div>
            </div>
            <div class="card">
                <img src="ml_img/img6.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DATA DIMENSIONALITY REDUCTION</h5>
                    <ul>
                        <li>Used Princical Component Analysis to Reduce the data dimensionality.</li>
                        <li>Standardized the features by using StandardScaler</li>
                        <li>Hyperparameter tuning of estimators</li>
                        <li>Accuracy Test of predictive models.</li>
                    </ul>
                    <a target='_blank' href="https://github.com/iamwendellbalagot/dsprojects/blob/master/PCA%20(Iris%20Data%20set)/PCA%20iris%20dataset.ipynb" class="btn btn-dark">View Notebook</a>
                </div>
            </div>
        </div>
        <br>

        <div class="card-deck">
            <div class="card">
                <img src="ml_img/img2.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AVOCADO CLASSIFICATION PROBLEM</h5>
                    <ul>
                        <li>Data Visualization and Feature Extraction.</li>
                        <li>Comparisson Between Organic and Conventional Type Avocado</li>
                        <li>Normalizing the Data by Using Standard Scaler</li>
                        <li>Predictive Modelling Using Machine Learning Models and ROC Curve Comparison</li>
                    </ul>
                    <a target='_blank' href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Avocado%20Classification%20problem/Avocado_Classification_problem.ipynb" class="btn btn-dark">View Notebook</a>

                </div>
            </div>

            <div class="card ">
                <img src="ml_img/img8.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ADVANCED EDA OF HOUSE PRICING DATASET</h5>
                    <ul>
                        <li>Feature Selection and Data Cleaning.</li>
                        <li>Data Transformation with BoxCox.</li>
                        <li>Homoscedasticity Check.</li>
                        <li>Predictive Modelling.</li>
                        <li>Metrics Comparison of Predictive Models.</li>
                    </ul>
                    <a target='_blank'
                        href="https://github.com/iamwendellbalagot/dsprojects/blob/master/House%20Pricing%20Regression/house%20pricing%20reg.ipynb"
                        class="btn btn-dark">View Notebook
                    </a>

                </div>
            </div>
        </div>
        <br>

        <div class="card-deck">
            <div class="card">
                <img src="ml_img/img4.png" class="card-img-top mlimg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CLUSTERING MALL CUSTOMERS</h5>
                    <ul>
                        <li>Bi-variate Analysis.</li>
                        <li>Annual Income & Mall Spending Score Comparison by Gender Class.</li>
                        <li>Plotting Andrew Curves.</li>
                        <li>Elbow Method to determine the best number of clusters.</li>
                        <li>KMeans Clustering and Hierarchical Clustering.</li>
                    </ul>
                    <a target='_blank' href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Clustering%20Mall%20Customers/kmeans%20mall%20cust.ipynb" class="btn btn-dark">View Notebook</a>
                </div>
            </div>

            <div class="card ">
            </div>
        </div>
        <br>
        <br>
    </div>
    
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

