<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../favicon.ico" />
    <link rel="stylesheet" href="nlp.css">
    <link
        href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Titillium+Web:wght@200;400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap" rel="stylesheet">

    <title>NLP - Portfolio</title>
</head>

<body class="body">
    <div class="home ">
        <p class="name">WENDELL BALAGOT</p>
        <div class="navb">
            <ul class="nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#porttitle">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#servicestitle">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="homecontents">
            <h3>NATURAL LANGUAGE PROCESSING</h3>
        </div>
        <div class="navb2">
            <nav class="navbar navbar-expand-md navbar-dark ">
                <!-- Brand -->
                <p>WENDELL BALAGOT</p>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#porttitle">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#servicestitle">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <br>

        <div class="contents">
            <div class="card-deck">
                <div class="card">
                    <img src="../components/nlp/img1.png" class="card-img-top mlimg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NLP AMAZON PRODUCTS RATING</h5>
                        <ul>
                            <li>Identify what product is most popular around customers.</li>
                            <li>Relationship between product reviews character length and their ratings.</li>
                            <li>Text Processing techniques</li>
                            <li>Word Vectorization</li>
                            <li>Building a Keras Sequential model to predict the product ratings.</li>
                        </ul>
                        <a target='_blank'
                            href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Amazon%20Products%20Keras/Amazon_products_KerasModel.ipynb"
                            class="btn btn-dark">View Notebook
                        </a>

                    </div>

                </div>
                <div class="card">
                    <img src="nlp/img2.png" class="card-img-top mlimg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CLASSIFYING REAL & FAKE JOB POSTING</h5>
                        <ul>
                            <li>Feature Selection & Data Cleaning</li>
                            <li>Text Preprocessing (Removing Punctuation, Tokenizing, Text to Sequence, Word Embedding)</li>
                            <li>Deep Learning Models to Classify if a Job Post is real.</li>
                            <li>Metrics Comparison of Deep Learning Models.</li>
                        </ul>
                        <a target='_blank'
                            href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Job%20Posting%20prediction%20using%20KERAS/job%20posting%20(deeplearning).ipynb"
                            class="btn btn-dark">View Notebook
                        </a>
                     </div>  
                </div>
            </div>
            <br>

            <div class="card-deck">
                <div class="card">
                    <img src="../components/nlp/img3.png" class="card-img-top mlimg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NEWS HEADLINE CLASSIFIER</h5>
                        <ul>
                           <li>Data Visualization and Feature Selection</li>
                           <li>Text Preprocessing (Tokenizing, Text to Sequence, Label Encoding).</li>
                           <li>Glove Vectors for word representation.</li>
                           <li>Keras Sequential model to Classify the Headlines.</li>
                        </ul>
                        <a target='_blank'
                            href="https://github.com/iamwendellbalagot/dsprojects/blob/master/News%20Headline%20Classifier%20(Deep%20Learning)/news%20headlines%20(deep%20learning).ipynb"
                            class="btn btn-dark">View Notebook
                        </a>

                    </div>

                </div>
                <div class="card">
                    <img src="nlp/img4.png" class="card-img-top mlimg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">FAKE NEWS DETECTION</h5>
                        <ul>
                            <li>Preprocessing of text data.</li>
                            <li>Data Pipelining</li>
                            <li>Machine Learning models to classify the data.
                                <ul>
                                    <li>XGBoost</li>
                                    <li>Stochastic Gradient Descent</li>
                                    <li>Random Forest Classifier</li>
                                    <li>Etc...</li>
                                </ul>
                            </li>
                            <li>Deep Learning</li>
                            <li>Comparison of Predictive models.</li>
                        </ul>
                        <a target='_blank'
                            href="https://github.com/iamwendellbalagot/dsprojects/blob/master/NLP%20(Real%20%26%20Fake%20News%20Classification%20Problem)/news%20nlp.ipynb"
                            class="btn btn-dark">View Notebook
                        </a>
                    </div>
                </div>
            </div>
             <br>

             <div class="card-deck">
                 <div class="card">
                     <img src="../components/nlp/img5.png" class="card-img-top mlimg" alt="...">
                     <div class="card-body">
                         <h5 class="card-title">SENTIMENT ANALYSIS ON AMAZON INSTRUMENT REVIEWS</h5>
                         <ul>
                             <li>Text Preprocessing (Tokenizing, Text to Sequence, Label Encoding).</li>
                             <li>XGBoost HyperParameter Tuning.</li>
                             <li>Data Pipelining.</li>
                             <li>Plotting the ROC curve.</li>
                             <li>Metrics Comparison of predictive models.</li>
                         </ul>
                         <a target='_blank'
                             href="https://github.com/iamwendellbalagot/dsprojects/blob/master/Sentiment%20Analysis/xgboost-roc-curve-for-sentiment-analysis.ipynb"
                             class="btn btn-dark">View Notebook
                         </a>
                    </div>
                </div>
                <div class="card">
                     <img src="../components/nlp/img6.png" class="card-img-top mlimg" alt="...">
                     <div class="card-body">
                         <h5 class="card-title">REDDIT DATA - NLP</h5>
                         <ul>
                            <li>Exploratory Data Analysis.</li>
                            <li>Data Cleaning and Sampling.</li>
                            <li>Text Preprocessing.</li>
                            <li>Text Preprocessing.
                                <ul>
                                    <li>Removing Stopwords and Punctuation</li>
                                    <li>Stemming and Lemmatizing</li>
                                </ul>
                            </li>
                            <li>Predictive Modelling.</li>
                         </ul>
                         <a target='_blank'
                             href="https://www.kaggle.com/delllectron/nlp-reddit-data-analysis-modelling"
                             class="btn btn-dark">View Notebook
                         </a>

                     </div>
                </div>
             </div>
        </div>
    </div>

</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
